@{
    ViewBag.Title = "Sobre la Aplicación";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Esta es una aplicación Web sencilla y hecha a medida para el ingreso, control y gestión de la información obtenida del contrato Unión Temporal Chevrolet Diraf 2017 y desarrollada por Marrudt Durán Reyes, Coordinador de Sistemas de Almacén y Talleres El Norte</p>
