@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Cra. 61G # 51B-13 Sur - Nuevo Muzú<br />
    Bogotá, D.C. - Localidad Tunjuelito - Código Postal: 110611<br />
    <abbr title="Teléfono">Teléfono:</abbr>
    7105308 - 2309898 Extensión 130
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:sistemas@tallereselnorte.com">sistemas@tallereselnorte.com</a><br />    
</address>